body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("dashboard-background.png");
    background-size: cover;
    background-position: center;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab {
    width: 380px;
    padding: 40px;
    background: rgba(255, 255, 255, 0.15);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    backdrop-filter: blur(6px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
    text-align: center;
    color: #fff;
}

h1 {
    margin-bottom: 25px;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 1px;
}

label {
    font-size: 18px;
    font-weight: 500;
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 12px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    background: rgba(255,255,255,0.85);
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: #fff;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background: #eb8e15;
}
.pin-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.pin-input {
    width: 50px;
    height: 50px;
    font-size: 22px;
    text-align: center;
    border-radius: 8px;
    border: 2px solid rgba(255,255,255,0.4);
    background: rgba(255,255,255,0.2);
    color: white;
}